InfaPortalWorkflows/wsdl/SecurityPayloadGeneratorInterface/crypto.xsd

<xs:schema xmlns:aem="urn:active-endpoints:wsdlGen:metaData" xmlns:ns="urn:javax:crypto" xmlns:ns1="urn:java:security" xmlns:tns="urn:javax:crypto" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:javax:crypto" version="1.0">

   <!-- Java2Schema Meta-Data Generated by ActiveVOS Designer -->
   <xs:annotation>
      <xs:appinfo>
         <aem:sourceInterface qualifiedName="security.payload.SecurityPayloadGeneratorInterface"/>
         <aem:classes package="javax.crypto">
            <aem:class directReference="true" name="BadPaddingException"/>
            <aem:class directReference="true" name="IllegalBlockSizeException"/>
            <aem:class directReference="true" name="NoSuchPaddingException"/>
         </aem:classes>
      </xs:appinfo>
   </xs:annotation>

  <xs:import namespace="urn:java:security" schemaLocation="security.xsd"/>

  <xs:element name="badPaddingException" type="tns:badPaddingException"/>

  <xs:element name="illegalBlockSizeException" type="tns:illegalBlockSizeException"/>

  <xs:element name="noSuchPaddingException" type="tns:noSuchPaddingException"/>

  <xs:complexType name="badPaddingException">
    <xs:complexContent>
      <xs:extension base="ns1:generalSecurityException">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="illegalBlockSizeException">
    <xs:complexContent>
      <xs:extension base="ns1:generalSecurityException">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="noSuchPaddingException">
    <xs:complexContent>
      <xs:extension base="ns1:generalSecurityException">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>
