InfaPortalWorkflows/wsdl/SecurityPayloadGeneratorInterface/security.xsd

<xs:schema xmlns:aem="urn:active-endpoints:wsdlGen:metaData" xmlns:ns="urn:java:security" xmlns:tns="urn:java:security" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:java:security" version="1.0">

   <!-- Java2Schema Meta-Data Generated by ActiveVOS Designer -->
   <xs:annotation>
      <xs:appinfo>
         <aem:sourceInterface qualifiedName="security.payload.SecurityPayloadGeneratorInterface"/>
         <aem:classes package="java.security">
            <aem:class directReference="false" name="GeneralSecurityException"/>
            <aem:class directReference="true" name="InvalidKeyException"/>
            <aem:class directReference="false" name="KeyException"/>
            <aem:class directReference="true" name="NoSuchAlgorithmException"/>
            <aem:class directReference="true" name="SignatureException"/>
         </aem:classes>
      </xs:appinfo>
   </xs:annotation>

  <xs:element name="invalidKeyException" type="tns:invalidKeyException"/>

  <xs:element name="noSuchAlgorithmException" type="tns:noSuchAlgorithmException"/>

  <xs:element name="signatureException" type="tns:signatureException"/>

  <xs:complexType name="noSuchAlgorithmException">
    <xs:complexContent>
      <xs:extension base="tns:generalSecurityException">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="generalSecurityException">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="invalidKeyException">
    <xs:complexContent>
      <xs:extension base="tns:keyException">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="keyException">
    <xs:complexContent>
      <xs:extension base="tns:generalSecurityException">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="signatureException">
    <xs:complexContent>
      <xs:extension base="tns:generalSecurityException">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>
