InfaPortalWorkflows/schema/sif-metadata.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    project:   Siperian Hub
    copyright: Siperian Inc. (c) 2003-2010.  All rights reserved.
-->
<xs:schema xmlns="urn:metadata.siperian.api" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:tns="urn:types.siperian.api" 
	targetNamespace="urn:metadata.siperian.api" 
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="urn:types.siperian.api"  schemaLocation="sif-types.xsd"/>

    <xs:simpleType name="PrivilegeType">
                <xs:annotation>
                        <xs:documentation>This is an enumeration of the available privilege types</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="READ"/>
                  <xs:enumeration value="CREATE"/>
                  <xs:enumeration value="UPDATE"/>
                  <xs:enumeration value="DELETE"/>
                  <xs:enumeration value="MERGE"/>
                  <xs:enumeration value="EXECUTE"/>                  
                  <xs:enumeration value="NONE"/>
                </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="MetaDataRequestObjectTypes">
		<xs:annotation>
			<xs:documentation>This is an enumeration of the available object type names.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
		  <xs:enumeration value="BASE_OBJECT"/>
		  <xs:enumeration value="DEPENDENT_OBJECT"/>
		  <xs:enumeration value="PACKAGE"/>
		  <xs:enumeration value="REMOTE_PACKAGE"/>
		  <xs:enumeration value="SYSTEM"/>
		  <xs:enumeration value="ROLE"/>		  
		  <xs:enumeration value="MAPPING"/>
		  <xs:enumeration value="CLEANSE_FUNCTION"/>
		  <xs:enumeration value="QUERY_GROUP"/>
		  <xs:enumeration value="QUERY"/>
		  <xs:enumeration value="RELATIONSHIP"/>
		  <xs:enumeration value="MATCH_RULE_SET"/>
		  <xs:enumeration value="MATCH_COLUMN"/>
		  <xs:enumeration value="MATCH_PATH_COMPONENT"/>
		  <xs:enumeration value="USER"/>
		  <xs:enumeration value="BATCH_GROUP"/>
		  <xs:enumeration value="SUBJECT_AREA"/>
		  <xs:enumeration value="TASK_ASSIGNMENT_CONF"/>
		  <xs:enumeration value="HM_PROFILE"/>
		  <xs:enumeration value="HM_SANDBOX"/>
		  <xs:enumeration value="HM_CONFIGURATION"/>
		  <xs:enumeration value="WORKFLOW_ENGINE"/>
		</xs:restriction>
    </xs:simpleType>

	<xs:complexType name="MetaDataResponseObject">
        <xs:annotation>
        	<xs:documentation>This identifies which object is in a DescribeDataObject API response.</xs:documentation>
        </xs:annotation>
        <xs:choice>
			<xs:element name="metaDataBaseObject" type="MetaDataBaseObject"></xs:element>
			<xs:element name="metaDataDependentObject" type="MetaDataDependentObject"></xs:element>
			<xs:element name="metaDataPackage" type="MetaDataPackage"></xs:element>
			<xs:element name="metaDataRemotePackage" type="MetaDataRemotePackage"></xs:element>
			<xs:element name="metaDataSystem" type="MetaDataSystem"></xs:element>
			<xs:element name="metaDataRole" type="MetaDataRole"></xs:element>
			<xs:element name="metaDataMapping" type="MetaDataMapping"></xs:element>
			<xs:element name="metaDataCleanseFunction" type="MetaDataCleanseFunction"></xs:element>
			<xs:element name="metaDataQueryGroup" type="MetaDataQueryGroup"></xs:element>
			<xs:element name="metaDataQuery" type="MetaDataQuery"></xs:element>
			<xs:element name="metaDataMatchRuleSet" type="MetaDataMatchRuleSet"></xs:element>
			<xs:element name="metaDataMatchRule" type="MetaDataMatchRule"></xs:element>
			<xs:element name="metaDataMatchColumn" type="MetaDataMatchColumn"></xs:element>
			<xs:element name="metaDataWorkflowEngine" type="MetaDataWorkflowEngine"></xs:element>
		</xs:choice>
	</xs:complexType>

	<xs:complexType name="MetaDataColumnResponseObject">
        <xs:annotation>
        	<xs:documentation>This identifies which column object is in a DescribeDataObject API response.</xs:documentation>
        </xs:annotation>
        <xs:choice>
			<xs:element name="metaDataTableColumn" type="MetaDataTableColumn"></xs:element>
			<xs:element name="metaDataQueryFunctionColumn" type="MetaDataQueryFunctionColumn"></xs:element>
			<xs:element name="metaDataQueryConstantColumn" type="MetaDataQueryConstantColumn"></xs:element>
		</xs:choice>
	</xs:complexType>

    <xs:complexType name="MetaDataListResponseObject">
        <xs:annotation>
            <xs:documentation>This identifies which object is in a DescribeDataObject API response.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="metaDataBase" type="MetaDataBase"></xs:element>
            <xs:element name="metaDataTableColumn" type="MetaDataTableColumn"></xs:element>
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="MetaDataBase">
        <xs:annotation>
        	<xs:documentation>This is the base meta-data object extended by all other meta-data.</xs:documentation>
        </xs:annotation>
      <xs:sequence>
        <xs:element name="uid" type="xs:string" nillable="false"/>
        <xs:element name="name" type="xs:string" nillable="false"/>
        <xs:element name="displayName" type="xs:string" nillable="false"/>
        <xs:element name="primaryKey" type="xs:string" nillable="true"/>
        <xs:element name="description" type="xs:string" nillable="true"/>
        <xs:element name="privilege" type="PrivilegeType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MetaDataColumnBase">
        <xs:annotation>
        	<xs:documentation>This is meta-data about a column.</xs:documentation>
        </xs:annotation>
		<xs:complexContent>
			<xs:extension base="MetaDataBase">
				<xs:sequence>
					<xs:element name="dataType" type="xs:string" nillable="false"/>
					<xs:element name="sequence" type="xs:integer" nillable="false"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
    </xs:complexType>
    <xs:complexType name="MetaDataTableColumn">
        <xs:annotation>
        	<xs:documentation>This is meta-data about a table column.</xs:documentation>
        </xs:annotation>
		<xs:complexContent>
			<xs:extension base="MetaDataColumnBase">
				<xs:sequence>
					<xs:element name="dataDefault" type="xs:string" nillable="true"/>
					<xs:element name="dataLength" type="xs:integer" nillable="true"/>
					<xs:element name="dataPrecision" type="xs:integer" nillable="true"/>
					<xs:element name="dataScale" type="xs:integer" nillable="true"/>
					<xs:element name="visible" type="xs:boolean" default="true"/>
					<xs:element name="displayLength" type="xs:integer" nillable="true"/>
					<xs:element name="nullable" type="xs:boolean" default="true"/>
					<xs:element name="lookupUid" type="xs:string" nillable="true"/>
					<xs:element name="unique" type="xs:boolean" default="false"/>
        			<xs:element name="parentColumnUid" type="xs:string" nillable="true"/>
					<xs:element name="keyCol" type="xs:boolean" default="false"/>
					<xs:element name="readOnly" type="xs:boolean" default="false"/>
					<xs:element name="systemColumn" type="xs:boolean" default="false"/>
					<xs:element name="trustEnabled" type="xs:boolean" default="false"/>
					<xs:element name="validationEnabled" type="xs:boolean" default="false"/>
					<xs:element name="GBID" type="xs:boolean" default="false"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
    </xs:complexType>
    <xs:complexType name="MetaDataQueryFunctionColumn">
        <xs:annotation>
        	<xs:documentation>This is meta-data about a query function column.</xs:documentation>
        </xs:annotation>
		<xs:complexContent>
			<xs:extension base="MetaDataColumnBase">
				<xs:sequence>
					<xs:element name="functionName" type="xs:string" nillable="true"/>
					<xs:element name="parameter" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
    </xs:complexType>
    <xs:complexType name="MetaDataQueryConstantColumn">
        <xs:annotation>
        	<xs:documentation>This is meta-data about a query function column.</xs:documentation>
        </xs:annotation>
		<xs:complexContent>
			<xs:extension base="MetaDataColumnBase">
				<xs:sequence>
					<xs:element name="value" type="xs:string"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
    </xs:complexType>
    <xs:complexType name="MetaDataTable">
        <xs:annotation>
        	<xs:documentation>This is meta-data about a table.</xs:documentation>
        </xs:annotation>
		<xs:complexContent>
			<xs:extension base="MetaDataBase">
				<xs:sequence>
					<xs:element name="visible" type="xs:boolean" default="true"/>
        			<xs:element name="parentUid" type="xs:string" nillable="true"/>
					<xs:element name="metaDataTableColumn" type="MetaDataTableColumn" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
    </xs:complexType>
    <xs:complexType name="MetaDataBaseObject">
        <xs:annotation>
        	<xs:documentation>This is meta-data about a base object.</xs:documentation>
        </xs:annotation>
		<xs:complexContent>
			<xs:extension base="MetaDataTable">
				<xs:sequence>
					<xs:element name="historyEnabled" type="xs:boolean"
						default="false" />
					<xs:element name="trustEnabled" type="xs:boolean"
						default="false" />
					<xs:element name="lookupIndicator" type="xs:boolean"
						default="false" />
					<xs:element name="stateManagementEnabled"
						type="xs:boolean" default="false" />
					<xs:element name="versioningEnabled" type="xs:boolean"/>
                    <xs:element name="nonContiguousInd" type="xs:integer"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
    </xs:complexType>
    <xs:complexType name="MetaDataDependentObject">
        <xs:annotation>
        	<xs:documentation>This is meta-data about a dependent object.</xs:documentation>
        </xs:annotation>
		<xs:complexContent>
			<xs:extension base="MetaDataTable"/>
		</xs:complexContent>
    </xs:complexType>
    <xs:complexType name="MetaDataPackage">
        <xs:annotation>
        	<xs:documentation>This is meta-data about a package.</xs:documentation>
        </xs:annotation>
		<xs:complexContent>
			<xs:extension base="MetaDataTable">
				<xs:sequence>
					<xs:element name="putEnabled" type="xs:boolean" default="false"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
    </xs:complexType>
    <xs:complexType name="MetaDataRemotePackage">
        <xs:annotation>
        	<xs:documentation>This is meta-data about a remote package.</xs:documentation>
        </xs:annotation>
		<xs:complexContent>
			<xs:extension base="MetaDataTable"/>
		</xs:complexContent>
    </xs:complexType>
    <xs:complexType name="MetaDataSystem">
        <xs:annotation>
        	<xs:documentation>This is meta-data about a system.</xs:documentation>
        </xs:annotation>
		<xs:complexContent>
			<xs:extension base="MetaDataBase"/>
		</xs:complexContent>
    </xs:complexType>
    <xs:complexType name="MetaDataRole">
        <xs:annotation>
        	<xs:documentation>This is meta-data about a role.</xs:documentation>
        </xs:annotation>
		<xs:complexContent>
			<xs:extension base="MetaDataBase">
				<xs:sequence>
					<xs:element name="merge" type="xs:boolean" default="false"/>
					<xs:element name="write" type="xs:boolean" default="false"/>
					<xs:element name="read" type="xs:boolean" default="false"/>
					<xs:element name="metaDataPackage" type="MetaDataPackage" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="metaDataRemotePackage" type="MetaDataRemotePackage" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
    </xs:complexType>
    <xs:complexType name="MetaDataParameter">
        <xs:annotation>
        	<xs:documentation>This is meta-data about a parameter to a cleanse function or mapping.</xs:documentation>
        </xs:annotation>
		<xs:complexContent>
			<xs:extension base="MetaDataBase">
				<xs:sequence>
					<xs:element name="dataType" type="xs:string" nillable="false"/>
					<xs:element name="sequence" type="xs:integer" nillable="false"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
    </xs:complexType>
    <xs:complexType name="MetaDataMapping">
        <xs:annotation>
        	<xs:documentation>This is meta-data about a mapping.</xs:documentation>
        </xs:annotation>
		<xs:complexContent>
			<xs:extension base="MetaDataBase">
				<xs:sequence>
					<xs:element name="metaDataInputParameter" type="MetaDataParameter" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
    </xs:complexType>
    <xs:complexType name="MetaDataCleanseFunction">
        <xs:annotation>
        	<xs:documentation>This is meta-data about a cleanse function.</xs:documentation>
        </xs:annotation>
		<xs:complexContent>
			<xs:extension base="MetaDataBase">
				<xs:sequence>
        			<xs:element name="libraryUid" type="xs:string" nillable="false"/>
					<xs:element name="metaDataInputParameter" type="MetaDataParameter" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="metaDataOutputParameter" type="MetaDataParameter" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
    </xs:complexType>
    <xs:complexType name="MetaDataQuery">
        <xs:annotation>
        	<xs:documentation>This is meta-data about a query.</xs:documentation>
        </xs:annotation>
		<xs:complexContent>
			<xs:extension base="MetaDataBase">
				<xs:sequence>
			        <xs:element name="diagramState" type="xs:string" nillable="false"/>
        			<xs:element name="primaryTableUid" type="xs:string" nillable="false"/>
        			<xs:element name="queryGroupUid" type="xs:string" nillable="false"/>
					<xs:element name="metaDataColumn" type="MetaDataColumnResponseObject" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
    </xs:complexType>
    <xs:complexType name="MetaDataQueryGroup">
        <xs:annotation>
        	<xs:documentation>This is meta-data about a query group.</xs:documentation>
        </xs:annotation>
		<xs:complexContent>
			<xs:extension base="MetaDataBase">
				<xs:sequence>
					<xs:element name="metaDataQuery" type="MetaDataQuery" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
    </xs:complexType>
    <xs:complexType name="MetaDataMatchPathComponent">
        <xs:annotation>
        	<xs:documentation>This is meta-data about a match path component.</xs:documentation>
        </xs:annotation>
		<xs:complexContent>
			<xs:extension base="MetaDataBase">
				<xs:sequence>
				<xs:element name="parentTableUid" type="xs:string" nillable="false"/>
				<xs:element name="childTableUid" type="xs:string" nillable="false"/>
				<xs:element name="parentComponentUid" type="xs:string" nillable="true"/>
				<xs:element name="constraintUid" type="xs:string" nillable="false"/>
				<xs:element name="owningTableUid" type="xs:string" nillable="false"/>
				<xs:element name="checkMissingChild" type="xs:boolean" default="false"/>
				<xs:element name="matchPathComponentFilter" type="MetaDataMatchPathComponentFilter" minOccurs="0" maxOccurs="unbounded"/>				
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
    </xs:complexType>   
    <xs:complexType name="MetaDataMatchPathComponentFilter">
        <xs:annotation>
        	<xs:documentation>This is meta-data about a match path component filter.</xs:documentation>
        </xs:annotation>		
	<xs:sequence>
	<xs:element name="columnUid" type="xs:string" nillable="false"/>
	<xs:element name="value" type="xs:string" nillable="false"/>	
	<xs:element name="notInIndicator" type="xs:boolean" default="false"/>	
	</xs:sequence>			
    </xs:complexType>    
    <xs:complexType name="MetaDataMatchRule">
        <xs:annotation>
        	<xs:documentation>This is meta-data about a match rule.</xs:documentation>
        </xs:annotation>
		<xs:complexContent>
			<xs:extension base="MetaDataBase">
				<xs:sequence>
					<xs:element name="autoMerge" type="xs:boolean" default="false"/>
					<xs:element name="exactMatch" type="xs:boolean" default="false"/>
        			<xs:element name="exactRuleUidMatchPackage" type="xs:string" nillable="false"/>
			        <xs:element name="matchLevel" type="xs:string" nillable="false"/>
			        <xs:element name="matchPurpose" type="xs:string" nillable="false"/>
        			<xs:element name="matchRuleSetUid" type="xs:string" nillable="false"/>
			        <xs:element name="ruleNumber" type="xs:integer" nillable="false"/>
			        <xs:element name="matchColumnUid" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
    </xs:complexType>
    <xs:complexType name="MetaDataMatchRuleSet">
        <xs:annotation>
        	<xs:documentation>This is meta-data about a match rule set.</xs:documentation>
        </xs:annotation>
		<xs:complexContent>
			<xs:extension base="MetaDataBase">
				<xs:sequence>
					<xs:element name="defaultRuleSet" type="xs:boolean" default="false"/>
					<xs:element name="enabled" type="xs:boolean" default="false"/>
			        <xs:element name="searchLevel" type="xs:string" nillable="false"/>
        			<xs:element name="parentUid" type="xs:string" nillable="false"/>
					<xs:element name="metaDataMatchRule" type="MetaDataMatchRule" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
    </xs:complexType>
    <xs:complexType name="MetaDataMatchColumn">
        <xs:annotation>
        	<xs:documentation>This is meta-data about a match column.</xs:documentation>
        </xs:annotation>
		<xs:complexContent>
			<xs:extension base="MetaDataBase">
				<xs:sequence>
			        <xs:element name="owningTableUid" type="xs:string" nillable="false"/>
        			<xs:element name="sourceTableUid" type="xs:string" nillable="false"/>
			        <xs:element name="sequence" type="xs:integer" nillable="false"/>
        			<xs:element name="matchKey" type="xs:boolean" nillable="false"/>
        			<xs:element name="fuzzyColumn" type="xs:boolean" nillable="false"/>
        			<xs:element name="column" type="tns:SiperianObjectUid" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
    </xs:complexType>
    <xs:complexType name="MetaDataRelationship">
        <xs:annotation>
        	<xs:documentation>This is meta-data about a relationship.</xs:documentation>
        </xs:annotation>
		<xs:complexContent>
			<xs:extension base="MetaDataBase">
				<xs:sequence>
			        <xs:element name="parentTableUid" type="xs:string" nillable="false"/>
        			<xs:element name="childTableUid" type="xs:string" nillable="false"/>
			        <xs:element name="parentColumnUid" type="xs:string"/>
			        <xs:element name="childColumnUid" type="xs:string"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
    </xs:complexType>
    <xs:complexType name="MetaDataBatchGroup">
    	<xs:annotation>
    		<xs:documentation>This is meta-data about a Batch Group</xs:documentation>
    	</xs:annotation>
    	<xs:complexContent>
    		<xs:extension base="MetaDataBase">
    			<xs:sequence>
    				<xs:element name="batchItem" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    			</xs:sequence>
    		</xs:extension>
    	</xs:complexContent>
    </xs:complexType>
    <xs:complexType name="MetaDataHmProfile">
    	<xs:annotation>
    		<xs:documentation>This is meta-data about HM Profile</xs:documentation>
    	</xs:annotation>
    	<xs:complexContent>
    		<xs:extension base="MetaDataBase">
    			<xs:sequence>
			        <xs:element name="roleUid" type="tns:SiperianObjectUid" minOccurs="0" maxOccurs="unbounded"/>
			        <xs:element name="hmSandboxUid" type="tns:SiperianObjectUid" minOccurs="1" maxOccurs="unbounded"/>
    			</xs:sequence>
    		</xs:extension>
    	</xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="MetaDataHmSandboxStatus">
    	<xs:annotation>
    		<xs:documentation>The possible values for HM Sandbox status</xs:documentation>
    	</xs:annotation>
    	<xs:restriction base="xs:string">
    		<xs:enumeration value="Incomplete"/>
    		<xs:enumeration value="Active"/>
    		<xs:enumeration value="Error"/>
    	</xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MetaDataHmSandbox">
    	<xs:annotation>
    		<xs:documentation>This is meta-data about HM Sandbox</xs:documentation>
    	</xs:annotation>
    	<xs:complexContent>
    		<xs:extension base="MetaDataBase">
    			<xs:sequence>
    				<xs:element name="status" type="MetaDataHmSandboxStatus"/>
    				<xs:element name="parentSandboxUid" type="tns:SiperianObjectUid" nillable="true"/>
    				<xs:element name="promotable" type="xs:boolean"/>
			        <xs:element name="hmProfileUid" type="tns:SiperianObjectUid" minOccurs="1" maxOccurs="unbounded"/>
    			</xs:sequence>
    		</xs:extension>
    	</xs:complexContent>
    </xs:complexType>
    <xs:complexType name="MetaDataHmTypeBase">
    	<xs:annotation>
    		<xs:documentation>This is meta-data about HM Entity Type (also known as BO Class)</xs:documentation>
    	</xs:annotation>
    	<xs:complexContent>
    		<xs:extension base="MetaDataBase">
    			<xs:sequence>
    				<xs:element name="tooltipPattern" type="xs:string"/>
    				<xs:element name="color" type="xs:string"/>
    				<xs:element name="displayPackageUid" type="tns:SiperianObjectUid"/>
    				<xs:element name="displayParentUid" type="tns:SiperianObjectUid"/>
    				<xs:element name="putPackageUid" type="tns:SiperianObjectUid"/>
    				<xs:element name="putParentUid" type="tns:SiperianObjectUid"/>
    				<xs:element name="updateAllowed" type="xs:boolean"/>
    				<xs:element name="addAllowed" type="xs:boolean"/>
    			</xs:sequence>
    		</xs:extension>
    	</xs:complexContent>
    </xs:complexType>
    <xs:complexType name="MetaDataHmEntityType">
    	<xs:annotation>
    		<xs:documentation>This is meta-data about HM Entity Type (also known as BO Class)</xs:documentation>
    	</xs:annotation>
    	<xs:complexContent>
    		<xs:extension base="MetaDataHmTypeBase">
    			<xs:sequence>
    				<xs:element name="rowidBoClass" type="xs:string"/>
    				<xs:element name="labelPattern" type="xs:string"/>
    				<xs:element name="smallIcon" type="xs:string"/>
    				<xs:element name="largeIcon" type="xs:string"/>
    				<xs:element name="entityTypeDisplayPackageColumnUid" type="tns:SiperianObjectUid"/>
    				<xs:element name="entityTypePutPackageColumnUid" type="tns:SiperianObjectUid"/>
    				<xs:element name="entityTypeRowid" type="xs:boolean"/>
    			</xs:sequence>
    		</xs:extension>
    	</xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="MetaDataHmRelationshipDirection">
    	<xs:annotation>
    		<xs:documentation>The possible values for HM Relationship Direction</xs:documentation>
    	</xs:annotation>
    	<xs:restriction base="xs:string">
    		<xs:enumeration value="Entity 1 to Entity 2"/>
    		<xs:enumeration value="Entity 2 to Entity 1"/>
    		<xs:enumeration value="Undirected"/>
    		<xs:enumeration value="Bi-directional"/>
    		<xs:enumeration value="Unknown"/>
    	</xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MetaDataHmRelationshipType">
    	<xs:annotation>
    		<xs:documentation>This is meta-data about HM Relationship Type</xs:documentation>
    	</xs:annotation>
    	<xs:complexContent>
    		<xs:extension base="MetaDataHmTypeBase">
    			<xs:sequence>
    				<xs:element name="rowidRelType" type="xs:string"/>
    				<xs:element name="entityTypeUid1" type="tns:SiperianObjectUid"/>
    				<xs:element name="entityTypeUid2" type="tns:SiperianObjectUid"/>
    				<xs:element name="direction" type="MetaDataHmRelationshipDirection"/>
    				<xs:element name="fkRel" type="xs:boolean"/>
    				<xs:element name="relStartDate" type="xs:date"/>
    				<xs:element name="relEndDate" type="xs:date"/>
    				<xs:element name="deleteAllowed" type="xs:boolean"/>
    				<xs:element name="relTypeDisplayPackageColumnUid" type="tns:SiperianObjectUid"/>
    				<xs:element name="relTypePutPackageColumnUid" type="tns:SiperianObjectUid"/>
    				<xs:element name="relTypeRowid" type="xs:boolean"/>
    				<xs:element name="hierarchyDisplayPackageColumnUid" type="tns:SiperianObjectUid"/>
    				<xs:element name="hierarchyPutPackageColumnUid" type="tns:SiperianObjectUid"/>
    				<xs:element name="hierarchyRowid" type="xs:boolean"/>
    				<xs:element name="hierarchyUid" type="tns:SiperianObjectUid" minOccurs="1" maxOccurs="unbounded"/>
    				<xs:element name="entityBaseObjectColumnUid1" type="tns:SiperianObjectUid"/>
    				<xs:element name="entityBaseObjectColumnUid2" type="tns:SiperianObjectUid"/>
    				<xs:element name="entityDisplayPackageColumnUid1" type="tns:SiperianObjectUid"/>
    				<xs:element name="entityDisplayPackageColumnUid2" type="tns:SiperianObjectUid"/>
    				<xs:element name="entityPutPackageColumnUid1" type="tns:SiperianObjectUid"/>
    				<xs:element name="entityPutPackageColumnUid2" type="tns:SiperianObjectUid"/>
    			</xs:sequence>
    		</xs:extension>
    	</xs:complexContent>
    </xs:complexType>
    <xs:complexType name="MetaDataHmHierarchy">
    	<xs:annotation>
    		<xs:documentation>This is meta-data about HM Hierarchy</xs:documentation>
    	</xs:annotation>
    	<xs:complexContent>
    		<xs:extension base="MetaDataBase">
    			<xs:sequence>
    				<xs:element name="rowidHierarchy" type="xs:string"/>
    				<xs:element name="relTypeUid" type="tns:SiperianObjectUid" minOccurs="1" maxOccurs="unbounded"/>
    			</xs:sequence>
    		</xs:extension>
    	</xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="MetaDataHmPackageUsageType">
    	<xs:annotation>
    		<xs:documentation>The possible values for HM Package Usage type</xs:documentation>
    	</xs:annotation>
    	<xs:restriction base="xs:string">
    		<xs:enumeration value="Label"/>
    		<xs:enumeration value="Tooltip"/>
    		<xs:enumeration value="Search"/>
    		<xs:enumeration value="List"/>
    		<xs:enumeration value="Detail"/>
    		<xs:enumeration value="Put"/>
    		<xs:enumeration value="Common"/>
    		<xs:enumeration value="Add"/>
    	</xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MetaDataHmPackage">
    	<xs:annotation>
    		<xs:documentation>This is meta-data about HM Package</xs:documentation>
    	</xs:annotation>
    	<xs:complexContent>
    		<xs:extension base="MetaDataBase">
    			<xs:sequence>
    				<xs:choice>
	    				<xs:element name="relTypeUid" type="tns:SiperianObjectUid"/>
    					<xs:element name="entityTypeUid" type="tns:SiperianObjectUid"/>
    				</xs:choice>
    				<xs:element name="usageType" type="MetaDataHmPackageUsageType"/>
    				<xs:element name="metaDataTableColumn" type="MetaDataTableColumn" minOccurs="1" maxOccurs="unbounded"/>
    			</xs:sequence>
    		</xs:extension>
    	</xs:complexContent>
    </xs:complexType>
    <xs:complexType name="MetaDataHmConfiguration">
    	<xs:annotation>
    		<xs:documentation>This is meta-data about HM Configuration</xs:documentation>
    	</xs:annotation>
    	<xs:complexContent>
    		<xs:extension base="MetaDataBase">
    			<xs:sequence>
    				<xs:element name="metaDataHmProfile" type="MetaDataHmProfile"/>
    				<xs:element name="metaDataHmSandbox" type="MetaDataHmSandbox"/>
    				<xs:element name="metaDataHmEntityType" type="MetaDataHmEntityType" minOccurs="1" maxOccurs="unbounded"/>
    				<xs:element name="metaDataHmHierarchy" type="MetaDataHmHierarchy" minOccurs="1" maxOccurs="unbounded"/>
    				<xs:element name="metaDataHmRelationshipType" type="MetaDataHmRelationshipType" minOccurs="1" maxOccurs="unbounded"/>
    				<xs:element name="metaDataHmPackage" type="MetaDataHmPackage" minOccurs="1" maxOccurs="unbounded"/>
    			</xs:sequence>
    		</xs:extension>
    	</xs:complexContent>
    </xs:complexType>
    <xs:complexType name="MetaDataOrs">
        	<xs:annotation>
        		<xs:documentation>This is about ORS</xs:documentation>
        	</xs:annotation>
	       <xs:sequence>		 
		 <xs:element name="name" type="xs:string" nillable="false"/>
		 <xs:element name="displayName" type="xs:string" nillable="false"/>
		 <xs:element name="orsId" type="xs:string" nillable="true"/>
	       </xs:sequence>
    </xs:complexType>    
    <xs:complexType name="MetaDataWorkflowEngine">
        	<xs:annotation>
        		<xs:documentation>This is meta-data about a workflow engine</xs:documentation>
        	</xs:annotation>
		<xs:complexContent>
			<xs:extension base="MetaDataBase">
				<xs:sequence>		 
					<xs:element name="type" type="xs:string" nillable="false"/>
					<xs:element name="host" type="xs:string" nillable="true"/>
					<xs:element name="port" type="xs:string" nillable="true"/>
					<xs:element name="username" type="xs:string" nillable="true"/>
					<xs:element name="password" type="xs:string" nillable="true"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
    </xs:complexType>    
</xs:schema>
